<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<!--<script src="/static/js/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>-->

<!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->


<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta http-equiv="Content-language" content="zh-CN"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="applicable-device" content="pc">

<script type="text/javascript" src="/static/1.9.1/jquery.js"></script>
<script type="text/javascript" src="/static/jquery-ui-1.12.1/jquery-ui.js"></script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="pragma" content="no-cache">

    <meta http-equiv="cache-control" content="no-cache">

    <meta http-equiv="expires" content="0">

    <title></title>

</head>

<iframe id="iframePrintEWM" frameborder="0" width="0" height="0"></iframe>

<body>

<div> 1.二维码预览</br>

    2.二维码打印

</div></br>

</br></br>

<hr>

</br>

<input type="button" id ="showQRList" name="showQRList" value="二维码预览" onclick="showQRList()"/>


<div id='divDialog'></div>

<div id='divPrintDialog'></div>

</body>

<script type="text/javascript">

    var height = $("body").height();

    var width = $("body").width();



    //二维码预览

    function showQRList(){
        // alert("showQRList");

        // var url ="localhost:8080/qrPrint/showList.do";

        $("#divDialog").dialog({

            title:"预览",

            width:260,

            height:500,

            top:(height-500)/2,

            left:(width-260)/2,

            href:"www.baidu.com",

            cache:false,

            closed:false,

            modal:true

        });

    }



</script>

</html>
