<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
<script type="text/javascript" src="/static/1.9.1/jquery.js"></script>
<script type="text/javascript" src="/static/jquery-ui-1.12.1/jquery-ui.js"></script>


<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>printFrameQR</title>

</head>

<body onload="this.focus();this.print()">

<div>

    <!--<c:forEach var="printID" items="${ids}" varStatus="lis">-->
        <tr th:each="lis : ${ids}">

        <div id="bcTarget${lis.index }">

            <!--<img src="${rootPath}/qrPrint/showEWMImage.do?showID=${printID}">-->
            <Img th:each="entry : ${lis}" th:src="@{/qrPrint/showEWMImage.do(showID=${entry.value})}">

        </div>
        </tr>
            </br>

    <!--</c:forEach>-->

</div>

</body>

</html>
